.footerList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

@media (min-width: 640px) {
    .footerList {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .footerList {
        width: 25%;
    }
}

@media (min-width: 1024px) {
    .footerList {
        width: 16.666667%;
    }
}

.footerList > div {
    margin-bottom: 6px;
}

.footer {
    background-color: #743ee5;
    color: #d1d5db;
    font-size: 0.875rem;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
}

@media (min-width: 768px) {
    .items {
        flex-direction: row;
    }
}
