#menuIcon{
    font-size: 36px;
    display: none;
}

@media (max-width: 768px) { /* Adjust the max-width value to your desired medium screen breakpoint */
    #menuIcon{
        display: block;
    }
}