.logInForm {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.logInFormContainer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    transition: all 0.6s ease-in-out;
    z-index: 2;
}

.logInFormTitle {
    font-weight: bold;
    margin: 0;
}

.logInFormInput {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.logInFormSpan {
    font-size: 12px;
}

.logInFormButton {
    border-radius: 20px;
    border: 1px solid #743EE5;
    background-color: #743EE5;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.logInFormButton:active {
    transform: scale(0.95);
}

.logInFormButton:focus {
    outline: none;
}