.container{
    display: flex;
    overflow-y: scroll;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    height: calc((100dvh - 64px) - 32px);
    padding: 2.5rem;    
}

.formContainer{
    width: 100%;
    padding: 1rem;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 0.75rem;
    border: 2px solid rgb(221, 226, 232);
}

.title{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-style: normal;
    margin: 0px 0px 5px 0px;
    padding: 0px;
    color: rgb(26, 39, 50);
    text-transform: none;
}

.label{
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-style: normal;
    margin: 0px 0px 6px;
    padding: 0px;
    color: rgb(57, 76, 96);
    text-transform: none;
}

.row{
    gap: 30px;
    display: grid;
    min-height: 6rem;
    -webkit-box-align: center;
    align-items: center;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
}

.input{
    flex: 1 1 0%;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
    border-radius: 0.75rem;
    outline-style: none;
    color: rgb(26, 39, 50);
    border: 2px solid rgb(195, 204, 213);
    padding: 8px 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button{
    border-radius: 12px;
    box-shadow: none;
    margin: 24px 0px 0px;
    height: 48px;
    padding: 12px 24px;
    background-color: #743EE5;
    color: white;
}