@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
body{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    font-family: 'Montserrat', sans-serif;
}
