.container{
    position: fixed;
    top: 72px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: calc(100% - 72px);
}

.title{
    font-size: 32px;
    font-weight: bolder;
    margin: 0 0 0 40px;
}

.button{
    margin-left: 40px;
    color: #ffffff;
    border: 1px solid #743EE5;
    background: #743EE5;
    padding: 5px 15px;
    border-radius: 50px;
    transition: 0.5s;
}

.button:hover{
    color: #743EE5;
    background: #ffffff;
}

.description{
    display: flex;
    margin: 0 0 15px 40px
}

.leftSection{
    width: 50%;
}

.rightSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}