.buttonOverlay {
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.buttonOverlay:active {
    transform: scale(0.95);
}

.buttonOverlay:focus {
    outline: none;
}

.overlayP {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}