.nav {
    text-wrap: nowrap;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 72px;
    max-height: 72px;
    width: 100%;
    z-index: 99;
    background: #ffffff;
}
.nav ul{
    display: flex;
    align-items: center;
}
.nav ul li:last-child{
    color: #ffffff;
    border: 1px solid #743EE5;
    background: #743EE5;
    padding: 5px 15px;
    border-radius: 50px;
}
.nav ul li:last-child:hover{
    color: #743EE5;
    background: #ffffff;
}
.nav ul li{
    margin-left: 40px;
    font-size: 18px;
    font-weight: bolder;
    color: #737070;
    transition: 0.5s;
}
.nav ul li:hover{
    color: rgba(147, 51, 234);
}

