.productCard{
    padding: 16px 12px;
    border-radius: 0.75rem;
    background: rgb(255, 255, 255);
    border: 0.5px solid rgb(195, 204, 213);
    min-width: 176px;
    min-height: 224px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.img{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 80px;
    height: 80px;
    margin: 0px 0px 8px;
    object-fit: contain;
}

.price{
    color: rgb(26, 39, 50);
    margin: 0px 0px 8px;
    text-align: center;
    overflow-wrap: break-word;
}

.productName{
    color: rgb(26, 39, 50);
    font-weight: 600;
    margin: 0px 0px 4px;
    text-align: center;
    word-break: break-word;
    hyphens: auto;
    -webkit-line-clamp: 2;
}

.stock{
    font-size: small;
    text-align: center;
    color: rgb(137, 24, 16);
    margin: 0px;

}