.categorysidebar {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.categorysidebar .category {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.categorysidebar .category h3 {
    font-size: 18px;
}

.categorysidebar .category:hover {
    background-color: rgb(185, 145, 222);
}
